/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define NAV    1
#define SYM    2
#define COLE   3

/ {
    behaviors {
        /* * Auto-Shift Behavior 
         * Usage: &as LS(KEY) KEY
         * Tapping sends KEY. Holding (for 175ms) sends LS(KEY).
         */

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* Layer 0: QWERTY (Base)
             * Note: Inner bottom keys (Extra keys) set to Copy (Left) and Paste (Right)
             */

            bindings = <
&kp ESC         &as LS(Q) Q  &as LS(W) W  &as LS(E) E  &as LS(R) R  &as LS(T) T                                                     &as LS(Y) Y  &as LS(U) U      &as LS(I) I  &as LS(O) O  &as LS(P) P  &kp MINUS
&kp TAB         &as LS(A) A  &as LS(S) S  &as LS(D) D  &as LS(F) F  &as LS(G) G                                                     &as LS(H) H  &as LS(J) J      &as LS(K) K  &as LS(L) L  &kp SEMI     &kp SQT
&mt LCTRL CAPS  &as LS(Z) Z  &as LS(X) X  &as LS(C) C  &as LS(V) V  &as LS(B) B  &kp LC(C)                        &kp LC(V)         &as LS(N) N  &as LS(M) M      &kp COMMA    &kp DOT      &kp FSLH     &kp DEL
                                                       &kp LALT     &kp LGUI     &mt RCTRL SPACE  &to 1    &mo 2  &mt RSHIFT ENTER  &lt 1 BSPC   &mt RALT KP_NUM
            >;

            /* Left Encoder: Up/Down | Right Encoder: Left/Right */

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        nav_layer {
            /* Layer 1: Nav / Num */

            bindings = <
&kp ESC         &kp LC(X)  &as LS(N7) N7  &as LS(N8) N8  &as LS(N9) N9  &kp DOT                                        &kp LPAR  &kp RPAR   &kp LBKT   &kp RBKT   &kp HASH  &kp MINUS
&kp TAB         &kp LC(C)  &as LS(N4) N4  &as LS(N5) N5  &as LS(N6) N6  &as LS(N0) N0                                  &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT  &kp SEMI  &kp SQT
&mt LCTRL CAPS  &kp LC(V)  &as LS(N1) N1  &as LS(N2) N2  &as LS(N3) N3  &kp EQUAL      &trans                  &trans  &kp PLUS  &kp MINUS  &kp ASTRK  &kp FSLH   &kp FSLH  &kp DEL
                                                         &trans         &kp ENTER      &trans  &to 2    &to 0  &trans  &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        sym_layer {
            /* Layer 2: Symbols / F-Keys */

            bindings = <
&kp ESC         &as LS(N1) N1  &as LS(N2) N2  &as LS(N3) N3  &as LS(N4) N4  &as LS(N5) N5                                  &as LS(N6) N6  &as LS(N7) N7  &as LS(N8) N8  &as LS(N9) N9  &as LS(N0) N0  &kp MINUS
&kp TAB         &kp F1         &kp F2         &kp F3         &kp F4         &kp F5                                         &kp F6         &kp F7         &kp F8         &kp F9         &kp F10        &kp SQT
&mt LCTRL CAPS  &as LS(Z) Z    &as LS(X) X    &as LS(C) C    &as LS(V) V    &as LS(B) B    &trans                  &trans  &kp F11        &kp F12        &kp GRAVE      &kp BSLH       &kp FSLH       &kp DEL
                                                             &trans         &trans         &trans  &to 3    &to 0  &trans  &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };

        cole_layer {
            /* Layer 3: Colemak-ish (mapped from your QMK [3]) */

            bindings = <
&kp ESC         &as LS(Q) Q  &as LS(W) W  &as LS(F) F  &as LS(P) P  &as LS(B) B                                                   &as LS(J) J  &as LS(L) L      &as LS(U) U  &as LS(Y) Y  &kp SEMI     &kp MINUS
&kp TAB         &as LS(A) A  &as LS(R) R  &as LS(S) S  &as LS(T) T  &as LS(G) G                                                   &as LS(M) M  &as LS(N) N      &as LS(E) E  &as LS(I) I  &as LS(O) O  &kp SQT
&mt LCTRL CAPS  &as LS(Z) Z  &as LS(X) X  &as LS(C) C  &as LS(D) D  &as LS(V) V  &trans                         &trans            &as LS(K) K  &as LS(H) H      &kp COMMA    &kp DOT      &kp FSLH     &kp DEL
                                                       &kp LALT     &kp LGUI     &mt RCTRL SPC  &to 0    &to 0  &mt RSHIFT ENTER  &lt 1 BSPC   &mt RALT KP_NUM
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
        };
    };
};
